.qr-well {
  text-align: center;
  padding: 0.65rem 0.875rem;
  border-radius: 5px;
  transition: background 0.2s ease;
  opacity: 0.9;
  margin: 0.5rem 0 !important;

  p {
    margin: 1rem 0 0;
  }
  img {
    margin: 0.5rem auto;
    max-width: 200px;
    border-radius: 4px;
    opacity: 0.98;
  }
}
